h1{
    text-align:center;
}

#youtubePlayer{
margin-left:auto;
margin-right:auto;
width:fit-content;
display:block;
}
#laskuri{
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    display:block;
    }

#randomWord{
    margin-left:auto;
    margin-right:auto;
    font-size:x-large;
    width:fit-content;
    display:block;
    padding-top:1cm;
    padding-bottom:5cm;
}
#countdown{
    margin-left:auto;
    margin-right:auto;
    font-size:x-large;
    width:fit-content;
    display:block;
    padding-top:5cm;
    
}

#biitti, #sana{
display:block;
margin-left:auto;
margin-right:auto;
}

